<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>List of Invoice numbers with amounts outstanding</h1>

              <% @invoices.each do |i| %>

              <ul>
                <li><%= i.invoice_id %></li>
              </ul>

              <br>

              <% end %>
        </div>
    </div>
</div>


