
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <div class="table-responsive">
              <table class="table table-striped">
                  <h3>Listing all Contact in the Database<h3> 
                    <% @contacts.each do |contact| %>
                       <tr>
                        <th>Contact Name</th>
                        <th>Email</th>
                        <th>Bank Account Details</th>
                      </tr>
                        <td><%= contact.name %></td>
                        <td> <%= contact.email_address %></td>
                        <td><%= contact.bank_account_details %></td>
                        <% end %> 
              </table> 
          </div>
      </div>
  </div>
</div>




