<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
          <p><%= link_to "List of Contacts in the Database", users_path %></p> 
          <p><%= link_to "List of Invoices", invoices_path %></p>
          <p><%= link_to "List of Bank Accounts", accounts_path %></p>
        </div>
    </div>
</div>                                
