<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <div class="table-responsive">
              <h3>List of Available Bank Accounts</h3>
                <p>There are <%= @accounts.count %> accounts available: </p>
                  <% @accounts.each do |account| %>
                   <ul>
                     <li>Account Name: <%= account.name %> ("<%=account.currency_code %>")</li>
                     <li>Account Number: <%= account.bank_account_number%></li>
                   </ul>
                    <% end %> 
          </div>
       </div>
    </div>      
</div>